In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service  # Correct way to import Service
from bs4 import BeautifulSoup
import pandas as pd
import time

In [ ]:
# Specify the path to Brave browser and ChromeDriver
brave_path = r"C:\Program Files\BraveSoftware\Brave-Browser\Application\brave.exe"
chrome_driver_path = r"C:\WebDrivers\chromedriver.exe"  # Replace with actual path to chromedriver

# Set up Chrome options for Brave
options = webdriver.ChromeOptions()
options.binary_location = brave_path

# Create the Service object with the path to ChromeDriver
service = Service(chrome_driver_path)

# Create ChromeDriver instance for Brave with Service and options
driver = webdriver.Chrome(service=service, options=options)

# Open the webpage
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
driver.get(url)

In [ ]:
# Allow some time for the page to load
time.sleep(3)

# Extract page source using BeautifulSoup
soup = BeautifulSoup(driver.page_source, "html.parser")

# Find all tables in the page
tables = soup.find_all("table")
print(len(tables))  # This will tell you how many tables were found

3

In [ ]:
# Select the desired table
table = soup.select_one(
    "#mw-content-text > div.mw-content-ltr.mw-parser-output > table:nth-child(13)"
)
print(table)

<table class="wikitable sortable jquery-tablesorter">
<caption>
</caption>
<thead><tr>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Rank
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Name
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Industry
</th>
<th class="headerSort" role="columnheader button" tabindex="0" title="Sort ascending">Profits<br/>(USD millions)
</th></tr></thead><tbody>
<tr>
<td>1
</td>
<td><a href="/wiki/Apple_Inc." title="Apple Inc.">Apple</a>
</td>
<td>Electronics
</td>
<td style="text-align:center;">96,995
</td></tr>
<tr>
<td>2
</td>
<td><a href="/wiki/Berkshire_Hathaway" title="Berkshire Hathaway">Berkshire Hathaway</a>
</td>
<td>Conglomerate
</td>
<td style="text-align:center;">96,223
</td></tr>
<tr>
<td>3
</td>
<td><a href="/wiki/Alphabet_Inc." title="Alphabet Inc.">Alphabet</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">73,795
</td></tr>
<tr>
<td>4
</td>
<td><a href="/wiki/Microsoft" title="Microsoft">Microsoft</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">72,361
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/JPMorgan_Chase" title="JPMorgan Chase">JPMorgan Chase</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">49,552
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/Meta_Platforms" title="Meta Platforms">Meta Platforms</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">39,098
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/ExxonMobil" title="ExxonMobil">ExxonMobil</a>
</td>
<td>Petroleum industry
</td>
<td style="text-align:center;">36,010
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/Johnson_%26_Johnson" title="Johnson &amp; Johnson">Johnson &amp; Johnson</a>
</td>
<td>Pharmaceutical industry
</td>
<td style="text-align:center;">35,153
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Amazon_(company)" title="Amazon (company)">Amazon</a>
</td>
<td>Retail/Technology
</td>
<td style="text-align:center;">30,425
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Nvidia" title="Nvidia">Nvidia</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">29,760
</td></tr></tbody><tfoot></tfoot></table>

In [ ]:
# Extract table headers
headers = [header.text.strip() for header in table.find_all("th")]

In [ ]:
# Extract table rows
rows = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    row_data = [col.text.strip() for col in cols]
    rows.append(row_data)

# Create a DataFrame
df = pd.DataFrame(rows, columns=headers)
df

  Rank                Name                 Industry Profits(USD millions)
0    1               Apple              Electronics                96,995
1    2  Berkshire Hathaway             Conglomerate                96,223
2    3            Alphabet               Technology                73,795
3    4           Microsoft               Technology                72,361
4    5      JPMorgan Chase               Financials                49,552
5    6      Meta Platforms               Technology                39,098
6    7          ExxonMobil       Petroleum industry                36,010
7    8   Johnson & Johnson  Pharmaceutical industry                35,153
8    9              Amazon        Retail/Technology                30,425
9   10              Nvidia               Technology                29,760