In [ ]:
import pandas as pd

pop = pd.read_csv("state-population.csv")
areas = pd.read_csv("state-areas.csv")
abbrevs = pd.read_csv("state-abbrevs.csv")

In [ ]:
merged = pd.merge(
    pop, abbrevs, how="outer", left_on="state/region", right_on="abbreviation"
)
merged = merged.drop(columns="abbreviation")
print(merged)

     state/region     ages  year  population    state
0              AK    total  1990    553290.0   Alaska
1              AK  under18  1990    177502.0   Alaska
2              AK    total  1992    588736.0   Alaska
3              AK  under18  1991    182180.0   Alaska
4              AK  under18  1992    184878.0   Alaska
...           ...      ...   ...         ...      ...
2539           WY  under18  1993    137458.0  Wyoming
2540           WY    total  1991    459260.0  Wyoming
2541           WY  under18  1991    136720.0  Wyoming
2542           WY  under18  1990    136078.0  Wyoming
2543           WY    total  1990    453690.0  Wyoming

[2544 rows x 5 columns]

In [ ]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [ ]:
# hijo ko sabai run gareko ho yo

In [ ]:
# aba chai we are checking the null values in population since 'True' ako cha

In [ ]:
merged[merged['population'].isnull()].head()

     state/region     ages  year  population state
1872           PR  under18  1990         NaN   NaN
1873           PR    total  1990         NaN   NaN
1874           PR    total  1991         NaN   NaN
1875           PR  under18  1991         NaN   NaN
1876           PR    total  1993         NaN   NaN

In [ ]:
merged.isnull().sum()

state/region     0
ages             0
year             0
population      20
state           96
dtype: int64

In [ ]:
merged.loc[merged["state"].isnull(), "state/region"].unique()

array(['PR', 'USA'], dtype=object)

In [ ]:
merged[merged["state"].isnull(), "state/region"].unique()

InvalidIndexError: (0       False
1       False
2       False
3       False
4       False
        ...
2539    False
2540    False
2541    False
2542    False
2543    False
Name: state, Length: 2544, dtype: bool, 'state/region')

In [ ]:
merged.loc[merged["state/region"] == "PR", "state"] = "Puerto Rico"

In [ ]:
merged.loc[merged["state/region"] == "USA", "state"] = "United States"

In [ ]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [ ]:
final = pd.merge(merged, areas, on="state", how="left")
final.head()

  state/region     ages  year  population   state  area (sq. mi)
0           AK    total  1990    553290.0  Alaska       656425.0
1           AK  under18  1990    177502.0  Alaska       656425.0
2           AK    total  1992    588736.0  Alaska       656425.0
3           AK  under18  1991    182180.0  Alaska       656425.0
4           AK  under18  1992    184878.0  Alaska       656425.0

In [ ]:
final.isnull().any()

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

In [ ]:
final[final["area (sq. mi)"].isnull()].head()

     state/region     ages  year   population          state  area (sq. mi)
2160          USA  under18  1990   64218512.0  United States            NaN
2161          USA    total  1990  249622814.0  United States            NaN
2162          USA    total  1991  252980942.0  United States            NaN
2163          USA  under18  1991   65313018.0  United States            NaN
2164          USA  under18  1992   66509177.0  United States            NaN

In [ ]:
final["state"][final["area (sq. mi)"].isnull()].unique()

array(['United States'], dtype=object)

In [ ]:
# which of the states have area null?

In [ ]:
final.dropna(inplace=True)

In [ ]:
final.isnull().any()

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [ ]:
# PR ko mistake vako cha, PR ko NaN values lai chai replaced with it's mean

In [ ]:
data2010 = final.query('year == 2010 & ages == "total"')
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
43            AK  total  2010    713868.0      Alaska       656425.0
51            AL  total  2010   4785570.0     Alabama        52423.0
141           AR  total  2010   2922280.0    Arkansas        53182.0
149           AZ  total  2010   6408790.0     Arizona       114006.0
197           CA  total  2010  37333601.0  California       163707.0

In [ ]:
data2010.set_index("state", inplace=True)

In [ ]:
# inplace = True le chai orginal data mei change garcha

In [ ]:
density = data2010["population"] / data2010["area (sq. mi)"]

In [ ]:
density.sort_values(ascending=False, inplace=True)
density.head()
# ranking density

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64

In [ ]:
density.tail()

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64

In [ ]:
data2010

                     state/region   ages  year  population  area (sq. mi)
state
Alaska                         AK  total  2010    713868.0       656425.0
Alabama                        AL  total  2010   4785570.0        52423.0
Arkansas                       AR  total  2010   2922280.0        53182.0
Arizona                        AZ  total  2010   6408790.0       114006.0
California                     CA  total  2010  37333601.0       163707.0
Colorado                       CO  total  2010   5048196.0       104100.0
Connecticut                    CT  total  2010   3579210.0         5544.0
District of Columbia           DC  total  2010    605125.0           68.0
Delaware                       DE  total  2010    899711.0         1954.0
Florida                        FL  total  2010  18846054.0        65758.0
Georgia                        GA  total  2010   9713248.0        59441.0
Hawaii                         HI  total  2010   1363731.0        10932.0
Iowa                           IA  total  2010   3050314.0        56276.0
Idaho                          ID  total  2010   1570718.0        83574.0
Illinois                       IL  total  2010  12839695.0        57918.0
Indiana                        IN  total  2010   6489965.0        36420.0
Kansas                         KS  total  2010   2858910.0        82282.0
Kentucky                       KY  total  2010   4347698.0        40411.0
Louisiana                      LA  total  2010   4545392.0        51843.0
Massachusetts                  MA  total  2010   6563263.0        10555.0
Maryland                       MD  total  2010   5787193.0        12407.0
Maine                          ME  total  2010   1327366.0        35387.0
Michigan                       MI  total  2010   9876149.0        96810.0
Minnesota                      MN  total  2010   5310337.0        86943.0
Missouri                       MO  total  2010   5996063.0        69709.0
Mississippi                    MS  total  2010   2970047.0        48434.0
Montana                        MT  total  2010    990527.0       147046.0
North Carolina                 NC  total  2010   9559533.0        53821.0
North Dakota                   ND  total  2010    674344.0        70704.0
Nebraska                       NE  total  2010   1829838.0        77358.0
New Hampshire                  NH  total  2010   1316614.0         9351.0
New Jersey                     NJ  total  2010   8802707.0         8722.0
New Mexico                     NM  total  2010   2064982.0       121593.0
Nevada                         NV  total  2010   2703230.0       110567.0
New York                       NY  total  2010  19398228.0        54475.0
Ohio                           OH  total  2010  11545435.0        44828.0
Oklahoma                       OK  total  2010   3759263.0        69903.0
Oregon                         OR  total  2010   3837208.0        98386.0
Pennsylvania                   PA  total  2010  12710472.0        46058.0
Puerto Rico                    PR  total  2010   3721208.0         3515.0
Rhode Island                   RI  total  2010   1052669.0         1545.0
South Carolina                 SC  total  2010   4636361.0        32007.0
South Dakota                   SD  total  2010    816211.0        77121.0
Tennessee                      TN  total  2010   6356683.0        42146.0
Texas                          TX  total  2010  25245178.0       268601.0
Utah                           UT  total  2010   2774424.0        84904.0
Virginia                       VA  total  2010   8024417.0        42769.0
Vermont                        VT  total  2010    625793.0         9615.0
Washington                     WA  total  2010   6742256.0        71303.0
Wisconsin                      WI  total  2010   5689060.0        65503.0
West Virginia                  WV  total  2010   1854146.0        24231.0
Wyoming                        WY  total  2010    564222.0        97818.0

In [ ]:
data2010.add(density)

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,ages,area (sq. mi),population,state/region,year
state,,,,,,,,,,,,,,,,,,,,,
Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delaware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Florida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iowa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Indiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kentucky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Louisiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Missouri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oregon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pennsylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data2010

                     state/region   ages  year  population  area (sq. mi)
state
Alaska                         AK  total  2010    713868.0       656425.0
Alabama                        AL  total  2010   4785570.0        52423.0
Arkansas                       AR  total  2010   2922280.0        53182.0
Arizona                        AZ  total  2010   6408790.0       114006.0
California                     CA  total  2010  37333601.0       163707.0
Colorado                       CO  total  2010   5048196.0       104100.0
Connecticut                    CT  total  2010   3579210.0         5544.0
District of Columbia           DC  total  2010    605125.0           68.0
Delaware                       DE  total  2010    899711.0         1954.0
Florida                        FL  total  2010  18846054.0        65758.0
Georgia                        GA  total  2010   9713248.0        59441.0
Hawaii                         HI  total  2010   1363731.0        10932.0
Iowa                           IA  total  2010   3050314.0        56276.0
Idaho                          ID  total  2010   1570718.0        83574.0
Illinois                       IL  total  2010  12839695.0        57918.0
Indiana                        IN  total  2010   6489965.0        36420.0
Kansas                         KS  total  2010   2858910.0        82282.0
Kentucky                       KY  total  2010   4347698.0        40411.0
Louisiana                      LA  total  2010   4545392.0        51843.0
Massachusetts                  MA  total  2010   6563263.0        10555.0
Maryland                       MD  total  2010   5787193.0        12407.0
Maine                          ME  total  2010   1327366.0        35387.0
Michigan                       MI  total  2010   9876149.0        96810.0
Minnesota                      MN  total  2010   5310337.0        86943.0
Missouri                       MO  total  2010   5996063.0        69709.0
Mississippi                    MS  total  2010   2970047.0        48434.0
Montana                        MT  total  2010    990527.0       147046.0
North Carolina                 NC  total  2010   9559533.0        53821.0
North Dakota                   ND  total  2010    674344.0        70704.0
Nebraska                       NE  total  2010   1829838.0        77358.0
New Hampshire                  NH  total  2010   1316614.0         9351.0
New Jersey                     NJ  total  2010   8802707.0         8722.0
New Mexico                     NM  total  2010   2064982.0       121593.0
Nevada                         NV  total  2010   2703230.0       110567.0
New York                       NY  total  2010  19398228.0        54475.0
Ohio                           OH  total  2010  11545435.0        44828.0
Oklahoma                       OK  total  2010   3759263.0        69903.0
Oregon                         OR  total  2010   3837208.0        98386.0
Pennsylvania                   PA  total  2010  12710472.0        46058.0
Puerto Rico                    PR  total  2010   3721208.0         3515.0
Rhode Island                   RI  total  2010   1052669.0         1545.0
South Carolina                 SC  total  2010   4636361.0        32007.0
South Dakota                   SD  total  2010    816211.0        77121.0
Tennessee                      TN  total  2010   6356683.0        42146.0
Texas                          TX  total  2010  25245178.0       268601.0
Utah                           UT  total  2010   2774424.0        84904.0
Virginia                       VA  total  2010   8024417.0        42769.0
Vermont                        VT  total  2010    625793.0         9615.0
Washington                     WA  total  2010   6742256.0        71303.0
Wisconsin                      WI  total  2010   5689060.0        65503.0
West Virginia                  WV  total  2010   1854146.0        24231.0
Wyoming                        WY  total  2010    564222.0        97818.0

In [ ]:
data2010[density]

KeyError: "None of [Index([  8898.89705882353, 1058.6651493598863, 1009.2532675991745,\n        681.3391585760518,  645.6006493506494,  621.8155376598768,\n       466.44579672765377,  460.4457523029683, 356.09413492427717,\n       286.59712886644974,  275.9666507447132,  257.5496341572232,\n         228.051341726377, 221.68747194309196, 187.62227314176155,\n       178.19783086216364, 177.61715687185298, 163.40990225601857,\n       150.82529777440325, 144.85459430749523,  140.7992728050476,\n        124.7467069154775, 107.58699364034545, 102.01579382295218,\n        94.55781664165603,  93.98765455080212,  91.28760276977663,\n        87.67609899118493,  86.85189991298108,  86.01562208610079,\n        76.51958235318394,  65.08507540301612, 61.321530329933516,\n       61.078373187030586, 56.214497482588634,  54.94866684216464,\n        54.20275072855213,  53.77827847159635,  48.49371757925072,\n        39.00156526335048,  37.50998954418289, 34.745266279380665,\n       32.677188353905585,  24.44879575280147,  23.65415341658264,\n        18.79433795199464, 16.982737493112268,  10.58351162458993,\n        9.537565059968319,  6.736170994110687,  5.768079494571551,\n        1.087508854781582],\n      dtype='float64')] are in the [columns]"

In [ ]:
data2010.loc['density'] = density

<ipython-input-36-89ab1cf2b95c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2010.loc['density'] = density

In [ ]:
data2010

                     state/region   ages    year  population  area (sq. mi)
state
Alaska                         AK  total  2010.0    713868.0       656425.0
Alabama                        AL  total  2010.0   4785570.0        52423.0
Arkansas                       AR  total  2010.0   2922280.0        53182.0
Arizona                        AZ  total  2010.0   6408790.0       114006.0
California                     CA  total  2010.0  37333601.0       163707.0
Colorado                       CO  total  2010.0   5048196.0       104100.0
Connecticut                    CT  total  2010.0   3579210.0         5544.0
District of Columbia           DC  total  2010.0    605125.0           68.0
Delaware                       DE  total  2010.0    899711.0         1954.0
Florida                        FL  total  2010.0  18846054.0        65758.0
Georgia                        GA  total  2010.0   9713248.0        59441.0
Hawaii                         HI  total  2010.0   1363731.0        10932.0
Iowa                           IA  total  2010.0   3050314.0        56276.0
Idaho                          ID  total  2010.0   1570718.0        83574.0
Illinois                       IL  total  2010.0  12839695.0        57918.0
Indiana                        IN  total  2010.0   6489965.0        36420.0
Kansas                         KS  total  2010.0   2858910.0        82282.0
Kentucky                       KY  total  2010.0   4347698.0        40411.0
Louisiana                      LA  total  2010.0   4545392.0        51843.0
Massachusetts                  MA  total  2010.0   6563263.0        10555.0
Maryland                       MD  total  2010.0   5787193.0        12407.0
Maine                          ME  total  2010.0   1327366.0        35387.0
Michigan                       MI  total  2010.0   9876149.0        96810.0
Minnesota                      MN  total  2010.0   5310337.0        86943.0
Missouri                       MO  total  2010.0   5996063.0        69709.0
Mississippi                    MS  total  2010.0   2970047.0        48434.0
Montana                        MT  total  2010.0    990527.0       147046.0
North Carolina                 NC  total  2010.0   9559533.0        53821.0
North Dakota                   ND  total  2010.0    674344.0        70704.0
Nebraska                       NE  total  2010.0   1829838.0        77358.0
New Hampshire                  NH  total  2010.0   1316614.0         9351.0
New Jersey                     NJ  total  2010.0   8802707.0         8722.0
New Mexico                     NM  total  2010.0   2064982.0       121593.0
Nevada                         NV  total  2010.0   2703230.0       110567.0
New York                       NY  total  2010.0  19398228.0        54475.0
Ohio                           OH  total  2010.0  11545435.0        44828.0
Oklahoma                       OK  total  2010.0   3759263.0        69903.0
Oregon                         OR  total  2010.0   3837208.0        98386.0
Pennsylvania                   PA  total  2010.0  12710472.0        46058.0
Puerto Rico                    PR  total  2010.0   3721208.0         3515.0
Rhode Island                   RI  total  2010.0   1052669.0         1545.0
South Carolina                 SC  total  2010.0   4636361.0        32007.0
South Dakota                   SD  total  2010.0    816211.0        77121.0
Tennessee                      TN  total  2010.0   6356683.0        42146.0
Texas                          TX  total  2010.0  25245178.0       268601.0
Utah                           UT  total  2010.0   2774424.0        84904.0
Virginia                       VA  total  2010.0   8024417.0        42769.0
Vermont                        VT  total  2010.0    625793.0         9615.0
Washington                     WA  total  2010.0   6742256.0        71303.0
Wisconsin                      WI  total  2010.0   5689060.0        65503.0
West Virginia                  WV  total  2010.0   1854146.0        24231.0
Wyoming                        WY  total  2010.0    564222.0        97818.0
density                       NaN    NaN     NaN         NaN            NaN

In [ ]:
print(data2010)

                     state/region   ages    year  population  area (sq. mi)
state
Alaska                         AK  total  2010.0    713868.0       656425.0
Alabama                        AL  total  2010.0   4785570.0        52423.0
Arkansas                       AR  total  2010.0   2922280.0        53182.0
Arizona                        AZ  total  2010.0   6408790.0       114006.0
California                     CA  total  2010.0  37333601.0       163707.0
Colorado                       CO  total  2010.0   5048196.0       104100.0
Connecticut                    CT  total  2010.0   3579210.0         5544.0
District of Columbia           DC  total  2010.0    605125.0           68.0
Delaware                       DE  total  2010.0    899711.0         1954.0
Florida                        FL  total  2010.0  18846054.0        65758.0
Georgia                        GA  total  2010.0   9713248.0        59441.0
Hawaii                         HI  total  2010.0   1363731.0        10932.0
Iowa                           IA  total  2010.0   3050314.0        56276.0
Idaho                          ID  total  2010.0   1570718.0        83574.0
Illinois                       IL  total  2010.0  12839695.0        57918.0
Indiana                        IN  total  2010.0   6489965.0        36420.0
Kansas                         KS  total  2010.0   2858910.0        82282.0
Kentucky                       KY  total  2010.0   4347698.0        40411.0
Louisiana                      LA  total  2010.0   4545392.0        51843.0
Massachusetts                  MA  total  2010.0   6563263.0        10555.0
Maryland                       MD  total  2010.0   5787193.0        12407.0
Maine                          ME  total  2010.0   1327366.0        35387.0
Michigan                       MI  total  2010.0   9876149.0        96810.0
Minnesota                      MN  total  2010.0   5310337.0        86943.0
Missouri                       MO  total  2010.0   5996063.0        69709.0
Mississippi                    MS  total  2010.0   2970047.0        48434.0
Montana                        MT  total  2010.0    990527.0       147046.0
North Carolina                 NC  total  2010.0   9559533.0        53821.0
North Dakota                   ND  total  2010.0    674344.0        70704.0
Nebraska                       NE  total  2010.0   1829838.0        77358.0
New Hampshire                  NH  total  2010.0   1316614.0         9351.0
New Jersey                     NJ  total  2010.0   8802707.0         8722.0
New Mexico                     NM  total  2010.0   2064982.0       121593.0
Nevada                         NV  total  2010.0   2703230.0       110567.0
New York                       NY  total  2010.0  19398228.0        54475.0
Ohio                           OH  total  2010.0  11545435.0        44828.0
Oklahoma                       OK  total  2010.0   3759263.0        69903.0
Oregon                         OR  total  2010.0   3837208.0        98386.0
Pennsylvania                   PA  total  2010.0  12710472.0        46058.0
Puerto Rico                    PR  total  2010.0   3721208.0         3515.0
Rhode Island                   RI  total  2010.0   1052669.0         1545.0
South Carolina                 SC  total  2010.0   4636361.0        32007.0
South Dakota                   SD  total  2010.0    816211.0        77121.0
Tennessee                      TN  total  2010.0   6356683.0        42146.0
Texas                          TX  total  2010.0  25245178.0       268601.0
Utah                           UT  total  2010.0   2774424.0        84904.0
Virginia                       VA  total  2010.0   8024417.0        42769.0
Vermont                        VT  total  2010.0    625793.0         9615.0
Washington                     WA  total  2010.0   6742256.0        71303.0
Wisconsin                      WI  total  2010.0   5689060.0        65503.0
West Virginia                  WV  total  2010.0   1854146.0        24231.0
Wyoming                        WY  total  2010.0    564222.0        97818.0
density                       NaN    NaN     NaN         NaN            NaN

In [ ]:
density

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
Massachusetts            621.815538
Maryland                 466.445797
Delaware                 460.445752
New York                 356.094135
Florida                  286.597129
Pennsylvania             275.966651
Ohio                     257.549634
California               228.051342
Illinois                 221.687472
Virginia                 187.622273
Indiana                  178.197831
North Carolina           177.617157
Georgia                  163.409902
Tennessee                150.825298
South Carolina           144.854594
New Hampshire            140.799273
Hawaii                   124.746707
Kentucky                 107.586994
Michigan                 102.015794
Washington                94.557817
Texas                     93.987655
Alabama                   91.287603
Louisiana                 87.676099
Wisconsin                 86.851900
Missouri                  86.015622
West Virginia             76.519582
Vermont                   65.085075
Mississippi               61.321530
Minnesota                 61.078373
Arizona                   56.214497
Arkansas                  54.948667
Iowa                      54.202751
Oklahoma                  53.778278
Colorado                  48.493718
Oregon                    39.001565
Maine                     37.509990
Kansas                    34.745266
Utah                      32.677188
Nevada                    24.448796
Nebraska                  23.654153
Idaho                     18.794338
New Mexico                16.982737
South Dakota              10.583512
North Dakota               9.537565
Montana                    6.736171
Wyoming                    5.768079
Alaska                     1.087509
dtype: float64

In [ ]:
# add density as column at home

In [ ]:
import seaborn as sb
planets = sb.load_dataset('planets')
planets.shape

(1035, 6)

In [ ]:
# planets is already available in the library

In [ ]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
import numpy as np

In [ ]:
rng = np.random.RandomState(42)

ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [ ]:
planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [ ]:
planets.dropna().describe()
# drop the nan and describe the dataset

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
planets.groupby("method")

In [ ]:
planets_series_groupby = planets.groupby("method")["orbital_period"]

In [ ]:
planets_series_groupby

In [ ]:
planets_series_groupby.median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [ ]:
# groupby is a lazy evaluation, method bina kaam nei gardaina

In [ ]:
for method, group in planets.groupby("method"):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)